<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codex.oplusmelody173hook"
    >

    <uses-sdk
        android:minSdkVersion="31"
        android:targetSdkVersion="36" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="无线耳机 17.0.3 Hook"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="无线耳机 17.0.3：降噪 v2 回退、佩戴恢复与 Free4 EQ" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
