<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codex.oplusmelody173hook"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk
        android:minSdkVersion="31"
        android:targetSdkVersion="36" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="无线耳机 17.0.3 Hook"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="无线耳机 17.0.3：强制关闭耳机自决降噪并阻止云端白名单刷新" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
